.btn{
    border: transparent;
    background: transparent;
    font-weight: $medium;
    &:hover{
        cursor: pointer;
    }
    &-primary{
        background: $primary-color;
        color: #fff;
        font-size: 0.8125rem;
        border-radius: 0.5rem;
        padding: 0.75rem 0;
        margin-bottom: 0.875rem;
    }
    &-link{
        color: $primary-color;
        font-size: 0.6875rem;
        &-secondary{
            color: $secondary-color
        }
    }
    &-block{
        display: block;
        width: 100%;
        text-align: center;
    }
    &-round {
        border-radius: 50%;
    }
    &.red{
        color: $danger-color;
    }
    &-md{
        font-size: 0.8125rem;
        line-height: 0.8125rem;
    }
}