$primary-color: #3369f3;
$secondary-color: #999;
$text-color: #1e1e1e;
$danger-color: #f00;
$border-color: #eaeaea;
$bg-light: #fbfbfb;
$bg-primary-hover: #e4edfd;
$bg-secondary: #f8f8f8;
$medium: 500;
$bold: 700;
