.chats-page {
  display: flex;
  flex-grow: 1;
  width: 100vw;

  .sidebar {
    height: 100vh;
    overflow-y: hidden;
    flex-basis:  19.9375rem;
    background: $bg-light;
    border-right: 0.0625rem solid $border-color;
    padding: 0.5625rem 0;
    flex-shrink: 0;

    &__profile {
      text-align: right;
      padding: 0.75rem 0.5625rem;
    }

    &__search {
      padding: 0.75rem 0.5625rem;

      .search-input {
        width: 100%;
        background: #efefef;
        font-size: 0.75rem;
        font-weight: 500;
        text-align: center;
        padding: 0.625rem 0;
        border: transparent;
        border-radius: 0.3125rem;
      }
    }

    &__chats-list {
      height: 100%;
      overflow-y: scroll;
      border-bottom: 0.0625rem solid $border-color;
    }
  }

  .messages {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    &__panel-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 100%;
      padding: 0 1.25rem;

      .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height:  3.375rem;
        border-bottom: 0.0625rem solid $border-color;

        &__avatar {
          flex: none;
          padding: 0 0.625rem 0 0;

          img {
            border-radius: 50%;
            width:  2.125rem;
            height:  2.125rem;
          }
        }

        &__contact {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: center;
          font-size: 0.8125rem;
          font-weight: $bold;
          color: $text-color;
          line-height: 0.8125rem;
        }

        &__menu {
          cursor: pointer;
        }
      }

      .main {
        position: relative;
        z-index: 1;
        flex: 1 1 0;
        order: 2;

        &__container {
          padding-bottom:  1.875rem;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
        }

        &__row {
          position: relative;
          display: flex;
          flex-direction: row;
          padding: 0;
          justify-content: flex-end;
          align-items: flex-end;

          &.message-in {
            justify-content: flex-start;
          }
        }

        &__message {
          position: relative;
          flex: none;
          background: $bg-secondary;
          border-radius: 0 0.75rem 0.75rem;
          max-width:  26.25rem;
          color: $text-color;
          font-size: 0.75rem;
          line-height: 0.9375rem;
          padding: 0.625rem;
          margin-top: 0.625rem;

          &.auth {
            background: $bg-primary-hover;
            border-radius: 0.75rem 0.75rem 0;
          }

          p {
            margin-bottom: 0.625rem;
          }
        }
      }

      .footer {
        position: relative;
        z-index: 1;

        // flex: none;
        display: flex;
        align-items: center;
        order: 3;
        width: 100%;
        min-height:  3.375rem;
        border-top: 0.0625rem solid $border-color;

        &__addfile {
          flex: none;
          padding: 0 0.625rem 0 0;
          cursor: pointer;
        }

        &__message {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: center;
        }

        .input-message {
          height:  2rem;
          border: transparent;
          border-radius: 1rem;
          padding: 0.75rem 1.25rem;
          color: $text-color;
          font-size: 0.75rem;
          font-weight: $medium;
          background: $bg-light;

          &::placeholder {
            color: $secondary-color;
          }
        }

        &__sendmessage {
          padding: 0 0 0 0.625rem;

          button {
            height:  1.75rem;
            width:  1.75rem;
            transform: rotate(180deg);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .empty {
      font-size: 0.75rem;
      line-height: 0.75rem;
      color: $secondary-color;
    }
  }
}
