.panel{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 64;
    background: #FBFBFB;
    border-right: 1px solid #EAEAEA; 
    display: flex;
    align-items: center;
    justify-content: center;
    &__back{
        color: white;
        background: $primary-color;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.profile-page{
    &__avatar{
        margin-bottom: 20px;
        text-align: center;
        img{
            border-radius: 50%;
        }
    }
    &__name{
        text-align: center;
        margin-bottom: 50px;
    }
    &__settings{
        margin-bottom: 50px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        line-height: 13px;
        font-weight: $medium;
        width: 510px;
        padding: 10px 0;
        border-bottom: 1px solid #EAEAEA;
        &:last-child{
            border-bottom: transparent;
        }
        .setting{
            width: auto;
            color: $text-color;
        }
        .value{
            width: auto;
            color: $secondary-color;
        }
    }
}