.panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 64;
  background: $bg-light;
  border-right: 0.0625rem solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__back {
    color: #fff;
    background: $primary-color;
    border-radius: 50%;
    width:  1.75rem;
    height:  1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.profile-page {
  &__avatar {
    margin-bottom: 1.25rem;
    text-align: center;

    img {
      border-radius: 50%;
    }
  }

  &__name {
    text-align: center;
    margin-bottom: 3.125rem;
  }

  &__settings {
    margin-bottom: 3.125rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    font-weight: $medium;
    width: 31.875rem;
    padding: 0.625rem 0;
    border-bottom: 0.0625rem solid $border-color;

    &:last-child {
      border-bottom: transparent;
    }

    .setting {
      width: auto;
      color: $text-color;
    }

    .value {
      width: auto;
      color: $secondary-color;
    }
  }

  .input-container {
    margin: 0;

    .input-line-secondery {
      padding: 0;
      margin: 0;
      color: $secondary-color;
    }

    .input-validation-message {
      margin-bottom: 0;
    }
  }
}
