extends ../templates/main
include ../components/button/button
include ../components/chat/chat

block pagetitle
    title Чаты
block pagecontent
    .chats-page
        .sidebar
            .sidebar__profile 
                +button('btn btn-link btn-link-secondary', 'Профиль >')
            .sidebar__search
                input(placeholder="Поиск").search-input
            .sidebar__chats-list
                +chat('', 'Андрей', 'Изображение', '10:49', '2')
                +chat('', 'Киноклуб', 'Вы: стикер', '12:00')
                +chat('', 'Илья', 'Друзья, у меня для вас особенный выпуск новостей!...', '15:12', '4')
                +chat('', 'Вадим', 'Вы: Круто!', 'Пт')
                +chat('', 'тет-а-теты', 'И Human Interface Guidelines и Material Design рекомендуют...', 'Ср')
        .messages 
            p.empty Выберите чат чтобы отправить сообщение