extends ../templates/main
include ../components/input/input
include  ../components/button/button

block pagetitle
    title Регистрация
block pagecontent
    .signin-page.form-container
        form.form(action="")
            .form-entries
                h1.form-entries__title Регистрация
                +input( 'email', 'email', 'input-line input-email', 'Почта')
                +input('text', 'login', 'input-line input-login', 'Логин')
                +input('text', 'first_name', 'input-line input-first_name', 'Имя')
                +input('text', 'second_name', 'input-line input-second_name', 'Фамилия')
                +input('text', 'phone', 'input-line input-phone', 'Телефон')
                +input('password', 'password-primary', 'input-line input-password-primary', 'Пароль')
                +input('password', 'password-secondary', 'input-line input-password-secondary', 'Пароль (ещё раз)')
            .form-controls
                +button('btn btn-primary btn-block', 'Зарегистрироваться')
                +button('btn btn-link btn-block', 'Войти')

