extends ./templates/main
block pagetitle
    title Меню
block pagecontent
    .menu-page
        h1 Меню
        nav.menu
            ul 
                each page in ['profile','chats','signin','login', '404', '505']
                    li
                        a(href=`./pages/${page}.pug`)=page